.item-atti.high {
    background-color: red;
}

.item-atti.low {
    background-color: green;
}

.hide-axis .timeline-axis,
.hide-axis .timeline-axis-text,
.hide-axis .timeline-axis-grid {
    display: none;
}